VITE_SUPABASE_URL=https://baymxexafehobonfpume.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJheW14ZXhhZmVob2JvbmZwdW1lIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ2OTc1NzEsImV4cCI6MjEwMDI3MzU3MX0.KScz8hp8EM_lckZ7dsrwD0dIP-74S8vYdQJxqvxfQsQ

